TABLE {
  width: 50%;
}
TD {
  vertical-align: top;
}
#col1 {
  width: 33%;
  background: #fc0;
}
#col2 {
  width: 33%;
  background: #fc0;
}
#col3 {
  width: 33%;
  background: #fc0;
}
#col1, #col2, #col3 {
  padding: 5px;
}
#colem, #colfn, #coln{
  font-size: xx-large;
}
#caption, #col1, #col2, #col3 {
  font-size: xxx-large;
}
#select{
  width: 400px;
  margin: 10px;
}

